%link{:crossorigin => "anonymous", :href => "https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css", :integrity => "sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T", :rel => "stylesheet"}/

.container.container_size
  - if @user.workouts.count == 0
    %p 
    There are 
    = @user.workouts.count
    Workouts for this user currently.

    %br
    %br
    %br
    


    %strong Athlete Profile - 
    %strong= @user.first_name
    %strong= @user.last_name

  - else
    %h2.subtitle.is-5

    %br
    %strong Athlete Profile - 
    %strong= @user.first_name
    %strong= @user.last_name

    %br
    %br

    Workouts
  %table.table-striped.table-bordered.container_size
    %thead
      %tr
        %th{:colspan => ""} Workout name 
        %th{:colspan => ""} Cardio (Included or not)
        %th{:colspan => ""} Date
        %br

    %tbody
      - @user.workouts.each do |f|
        %tr
          %td= link_to f.name, user_workouts_path(f)
          - if f.cardio = true
            %td Yes
          - else
            %td Get off your lazy ass!!
          %td= f.workout_date
  %br
  %br

  
  - if user_signed_in?
    %p= link_to('Create a new workout', new_user_workout_path)

  
        

  %br
  %br
  %br
  %br

  %br

  - if user_signed_in?
    %li You are currently logged in as
    =@user.email
    %li
      = link_to('Logout User', destroy_user_session_path, method: :delete)
  - else
    %li
      = link_to('Login', new_user_session_path)


