
%section
.container
  - if @user.workouts.count == 0
    %p There are no Workouts for this user currently.
    %strong Logged in as @user.first_name
  - else
    %h2.subtitle.is-5
    %strong= @user.first_name

    Workouts
  %table.table
  %thead
    %tr
      %th{:colspan => ""} Workout name 
      %th{:colspan => ""} Cardio
      %th{:colspan => ""} Date

  %tbody
    - @user.workouts.each do |f|
      %tr
        %td= link_to f.name, user_workout_path(f)
        %td= f.cardio
        %td= f.workout_date
        

  %br
  - if user_signed_in?
    %li
      = link_to('Logout User', destroy_user_session_path, method: :delete)
  - else
    %li
      = link_to('Login', new_user_session_path)


