%h3 Form for creating a new workout
= form_for @workout, :url => url_for(:controller => 'workouts', :action => 'create') do |form|
  .form-group
    %p
      = form.label :Name
      %br/
      = form.text_field :name
  %p
    = form.label :Cardio
    %br/
    = form.check_box :cardio
  %p
    = form.label :Workout_date
    %br
    = form.date_field :workout_date
  %p
    = form.submit
%br/
%br/
%p Add workout to the user list