%link{:crossorigin => "anonymous", :href => "https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css", :integrity => "sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T", :rel => "stylesheet"}/

.container
  %br
  %br
  %br
  %strong= @user.first_name
  's workouts
  %br
  %strong= @user.workouts.count
  
  %strong  Workouts recorded
  %br
  %br
  %table.table.table-striped.table-bordered
    %thead
      %tr
        %th{:colspan => ""} Name
        %th{:colspan => ""} Cardio
        %th{:colspan => ""} Date
    %tbody
      %tr
        %td= @workout.name
        %td= @workout.cardio
        %td= @workout.workout_date

    %br
  %br
  %br
  Exercises
  %table.table-striped.table-bordered.container_size
    %thead
      %tr
        %th{:colspan => ""} Exercise name 
        %th{:colspan => ""} Equipment 
        %th{:colspan => ""} Sets
        %th{:colspan => ""} Main Body Part
        %th{:colspan => ""} Notes

    %tbody
      - @workout.exercises.each do |f|
        %tr
          %td= link_to f.name, workout_exercise_path(@workout, f)
          %td= f.equipment_type
          %td= f.sets_performed
          %td= f.main_body_part
          %td= f.exercise_notes
          
  %br
  %br




   

  %h6= link_to 'Add an exercise', new_workout_exercise_path( @workout)