%h3 Form for creating a new set
= form_for(ExerciseSet.new, url: exercise_exercise_sets_path(exercise_id: @exercise)) do |form|
  .form-group
    = hidden_field_tag :exercise_id, @exercise.id
    %p
      = form.label :weight_lbs
      %br/
      = form.number_field :weight_lbs
    %p
      = form.label :reps
      %br/
      = form.number_field :reps
    %p
      = form.label :notes
      %br
      = form.text_field :notes
    %p
      = form.submit
    %br/
    %br/
    %p Add set to exercise list