%h3 Form for creating a new exercise
= form_for @exercise, :url => url_for(:controller => 'exercises', :action => 'create') do |form|
  .form-group
    %p
      = form.label :Name
      %br/
      = form.text_field :name
  %p
    = form.label :Equipment
    %br/
    = form.text_field :equipment_type
  %p
    = form.label :sets
    %br
    = form.number_field :sets_performed
  %p
    = form.label :body_part
    %br
    = form.text_field :main_body_part
  %p
    = form.label :notes
    %br
    = form.text_field :exercise_notes
  %p
    = form.submit
%br/
%br/
%p Add exercise to the user list