<%= form_with(model: exercise, local: true) do |form| %>
  %p Athlete name - 
  %p
    %b= @user.first_name 
    %b= @user.last_name
    %br
    %br
    %br
    %br
    %br
    %br
    %h3= @workout.name
  - if @exercise.errors.any?
    #error_explanation
      %h2
        = pluralize(exercise.errors.count, "error")
        prohibited this exercise from being saved:
      %ul
        - exercise.errors.full_messages.each do |message|
          %li= message
  .field
    = form.label :exercise_name
    = form.text_field :name
  .field
    = form.label :bodypart
    = form.text_field :main_body_part
  .field
    = form.label :equipment_type
    = form.text_field :equipment_type
  .field
    = form.label :sets
    = form.text_field :sets_performed
  .field
    = form.label :Notes
    = form.text_field :exercise_notes
  .actions
    = form.submit
